<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}

    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.label and link.url %}
          <li>
            <a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a>
          </li> 
        {% endif %}
      {% endfor %}
    {% endif %}

   <li>
      <a href="https://twitter.com/@AGIRgenomes"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i></a> 
   </li>
   <li> 
      <a href="https://www.facebook.com/genomicintegrity.org/"><i class="fab fa-fw fa-facebook-square" aria-hidden="true"></i></a>
   </li> 
  </ul>
</div>

<div><a href="https://agirgenomes.blogspot.com/" rel="nofollow"> AGIR on BlogSpot </a></div>
<div><a href="https://sites.google.com/site/agiraction4genomicintegrity/" rel="nofollow"> The previous AGiR Site </a></div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}</div> 
